<div class="flex flex-row gap-[30px] items-center justify-center">
  <p class="cursor-pointer flex flex-col-reverse items-center gap-1.5 transition hover:opacity-70">
    {{ statistics.viewCount }}
    <img src="assets/icons/viewed.svg" alt="viewed" />
  </p>
  <p class="cursor-pointer flex flex-col-reverse items-center gap-1.5 transition hover:opacity-70">
    {{ statistics.likeCount }}
    <img src="assets/icons/liked.svg" alt="liked" />
  </p>
  <p class="cursor-pointer flex flex-col-reverse items-center gap-1.5 transition hover:opacity-70">
    {{ statistics.dislikeCount }}
    <img src="assets/icons/dislike.svg" alt="dislike" />
  </p>
  <p class="cursor-pointer flex flex-col-reverse items-center gap-1.5 transition hover:opacity-70">
    {{ statistics.commentCount }}
    <img src="assets/icons/comments.svg" alt="comments" />
  </p>
</div>
